body {
    font-family: sans-serif;
    font-size: 14px;
}

/* Must define attributes for each of the 
/* following or nothing shows up */
html, body, #map-canvas {
    height: 100%;
    margin: 0;
    padding: 0;
}

#searchbar {
    position: absolute;
    margin: 0;
    left: 10px;
    top: 10px;
    width: 300px;
    color: darkgray;
    font-size: 14px;
    height: 20px;
    padding: 0;
}

#places-area {
    position: absolute;
    left: 10px;
    top: 10%;
    width: 300px;;
    max-height: 80%;
    background-color: #fff;
    opacity: .8;
    overflow: auto;
    color: #FC672E;
}

#places-heading {
    padding: 10px 20px;
    color: #FC672E;
}

#place-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#place-list li {
    padding: 10px 20px;
    cursor: pointer;
    border-top: 1px solid #000;
}

#place-list li:hover {
    background-color: #FC672E;
    color: #fff;
}

.selected {
    background-color: #FC672E;
    color: #fff;
}

.info-window {
    width: 320px;
    height: 300px;
    overflow: auto;
    line-height:1.35;
}   

.info-window p {
    margin: 0;
}

.info-window hr {
    color: lightgray;
    padding-right: 10px;
}

.info-window a {
    color: #FC672E;
    font-style: italic;
}

p.review-text {
    display: inline-block;
}

.info-window h3,
.info-window h4,
.info-window h5 {
    color: #FC672E;
    margin: 0;
    padding: 0;
}

.info-window-main-img {
    width: 250px;
}
.info-window-yelp {
    
}

.global-error {
    width: 80%;
    margin: 10% auto;
    background-color: bisque;
    color: #FC672E;
}

.global-error a {
    color: #FC672E;
}

